
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, rgb(212, 212, 212) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(212, 212, 212) 1px, transparent 1px);
}

.page {
    text-align: center;
    background: #121212;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(40, 0, 151, 0.534);
    width: 100%;
    max-width: 400px;
    margin-left: 12px;
    margin-right: 12px;
}

.input-container {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 60px); /* Menyesuaikan lebar input */
    max-width: 330px;
}

button {
    padding: 10px;
    border: none;
    background-color: #2033E0;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media (min-width: 600px) {
    body {
        padding: 20px;
    }

    .page {
        width: 60%;
    }
}

@media (min-width: 900px) {
    .page {
        width: 40%;
    }
}

@font-face {
    font-family: PlusJakartaSans-Bold;
    src: url(PlusJakartaSans-Bold.ttf);
}

h1 {
    font-family: PlusJakartaSans-Bold;
    color: white;
}

input {
    font-family: PlusJakartaSans-Bold;
    color: black;
}

p {
    font-family: PlusJakartaSans-Bold;
    color: white;
    text-align: left;

}